@keyframes ldio-79x2hmilivb {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ldio-79x2hmilivb div {
    left: 98px;
    top: 47px;
    position: absolute;
    animation: ldio-79x2hmilivb linear 2.2222222222222223s infinite;
    background: #85a2b6;
    width: 4px;
    height: 22px;
    border-radius: 0px / 0px;
    transform-origin: 2px 53px;
  }.ldio-79x2hmilivb div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -2.0634920634920637s;
    background: #85a2b6;
  }.ldio-79x2hmilivb div:nth-child(2) {
    transform: rotate(25.714285714285715deg);
    animation-delay: -1.9047619047619049s;
    background: #bbcedd;
  }.ldio-79x2hmilivb div:nth-child(3) {
    transform: rotate(51.42857142857143deg);
    animation-delay: -1.746031746031746s;
    background: #dce4eb;
  }.ldio-79x2hmilivb div:nth-child(4) {
    transform: rotate(77.14285714285714deg);
    animation-delay: -1.5873015873015874s;
    background: #fdfdfd;
  }.ldio-79x2hmilivb div:nth-child(5) {
    transform: rotate(102.85714285714286deg);
    animation-delay: -1.4285714285714286s;
    background: #d69293;
  }.ldio-79x2hmilivb div:nth-child(6) {
    transform: rotate(128.57142857142858deg);
    animation-delay: -1.2698412698412698s;
    background: #be5960;
  }.ldio-79x2hmilivb div:nth-child(7) {
    transform: rotate(154.28571428571428deg);
    animation-delay: -1.1111111111111112s;
    background: #a00d1e;
  }.ldio-79x2hmilivb div:nth-child(8) {
    transform: rotate(180deg);
    animation-delay: -0.9523809523809524s;
    background: #85a2b6;
  }.ldio-79x2hmilivb div:nth-child(9) {
    transform: rotate(205.71428571428572deg);
    animation-delay: -0.7936507936507937s;
    background: #bbcedd;
  }.ldio-79x2hmilivb div:nth-child(10) {
    transform: rotate(231.42857142857142deg);
    animation-delay: -0.6349206349206349s;
    background: #dce4eb;
  }.ldio-79x2hmilivb div:nth-child(11) {
    transform: rotate(257.14285714285717deg);
    animation-delay: -0.4761904761904762s;
    background: #fdfdfd;
  }.ldio-79x2hmilivb div:nth-child(12) {
    transform: rotate(282.85714285714283deg);
    animation-delay: -0.31746031746031744s;
    background: #d69293;
  }.ldio-79x2hmilivb div:nth-child(13) {
    transform: rotate(308.57142857142856deg);
    animation-delay: -0.15873015873015872s;
    background: #be5960;
  }.ldio-79x2hmilivb div:nth-child(14) {
    transform: rotate(334.2857142857143deg);
    animation-delay: 0s;
    background: #a00d1e;
  }
  .loadingio-spinner-spinner-55qdopewq9k {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
  }
  .ldio-79x2hmilivb {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; 
  }
  .ldio-79x2hmilivb div { box-sizing: content-box; }