.main-page__content{
    display: block;
    position: absolute;
    left: 190px;
    top: 55px;
    width: calc(100% - 190px);
    height: calc(100vh - 55px);
    background-color: #FCFCFC;
    overflow-y: auto;
}