.rem-pass {
    display: block;
    margin: 0 auto; 
    margin-top: 155px;
    width: 347px;
    text-align: center;
    h2 {
        margin-bottom: 15px;
    }
    input {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 34px;
    }
    .btn-primary {
        margin-top: 10px;
        width: 100%;
    }
}