.register-step3 {
    font-weight: 300;
    input {
        margin-bottom: 20px;
    }
    p {
        display: block;
        margin: 0 auto;
        width: 347px;
        margin-bottom: 17px;
        text-align: justify;
    }
    button {
        font-weight: 500;
        margin-top: 10px;
        width: 100%;
    }
}